#dashboard{
    margin: 30px 0;
    .dashboard-card{
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        background-color: white;
        border-radius: 5px;
        margin: 12px 0;
        svg{
            margin: 0 3px;
        }
        .heading{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
        }
        .percent{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        h3{
            text-align: center;
        }
        
    }
    .dashboard-title{
        h2{
            font-size: 64px;
            color: #273142;
            font-size: 600;
        }
        h3{
            font-size: 14px;
            padding: 10px;
            background-color: white;
            border-radius: 6px;
            display: inline;
        }
    }
    .headline{
        h5{
            font-size: 18px;
            
            color: #273142;
            &.bold{
                font-weight: 600;
            }
        }
        p{
            font-size: 14px;
            color: #273142;

        }
    }
    
    
}
@media only screen and (max-width: 1089px){
    .dashboard-card{
        .heading{
            font-size: 10px !important;
        }
    }
}
#products{
    margin: 30px 0;
    .products-main{
        background-color: white;
        border-radius: 5px;
        padding: 30px;
        .headline{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .left-part{
                display: flex;
            }
            .right-part{
                color: #F27A1A;
                text-decoration: underline;
            }
            h5{
                font-size: 14px;
                color: #888;
                margin: 0;
                line-height: 16px;
                margin: 0 5px;
                &.active{
                    font-size: 16px;
                    color: #333;
                    font-weight: 500;
                }
            }
        }
        .product-card{
            margin-bottom: 20px;
            .product-card-top{
                display: flex;
                position: relative;
                &::before{
                    position: absolute;
                    left: -5px;
                    top: -5px;
                    content: "1";
                    font-size: 9px;
                    color: white;
                    height: 12px;
                    width: 12px;
                    background-color: #333;
                    overflow: hidden;
                    border-radius: 50%;
                    transition: 0.3s;
                    line-height: 12px;
                    font-weight: 400;
                    text-align: center;
                }
                img{
                    
                    border: 1px solid #888;
                    width: 60px;
                    height: 82px;
                    margin-right: 18px;
                    
                }
                .product-card-headline{
                    .title{
                        font-size: 13px;
                        color: #333;
                        max-width: 130px;
                        overflow: hidden;
                        span{
                            color: #888;
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                    .product-code{
                        font-size: 12px;
                        color: #888;
                        margin: 0;
                    }
                    .product-price{
                        color: #F27A1A;
                    }
                    
                }
            }
            .product-count{
                font-size: 12px;
                color: #888;
                margin: 0;
                margin-left: 5px;
                span{
                    color: #333;
                }
            }
        }

    }
    
}
@media only screen and (max-width: 768px){
    .navbar-bottom-part_last{
        height: 60px !important;
    }
    .products-main{
        .headline{
            flex-direction: column;
            .left-part{
                flex-direction: column;
            }
        }
    }
}