.navbar-bottom-pg2{
    
    background-color: white;
    .navbar-bottom-part{
        height: 100%;
        display: flex;
        align-items: center;
        svg{
            margin-right: 5px;
        }
        a{
            height: 28px;
            font-size: 12px;
            line-height: 14px;
            color: #333;
            font-weight: 500;
            text-decoration: none;
            padding: 0 13px;
            &.left{
                border-right: 1px solid #888;
            }
            &.right{
                padding-right: 0;
            }
            &.blue{
                color: #0E6AD6;
            }
            h3{
                font-size: 20px;
                font-weight: 500;
                color: black;
                margin: 0;
            }
            div{
                h5{
                    margin-bottom: 3px;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: sans-serif;
                    color: #333;
                }
                p{
                    margin: 0;
                    color: #888;
                    font-size: 10px;
                    font-weight: 500;

                }
            }
        }
    }
    .navbar-bottom-left{
        font-size: 15px;
        color: #1F2734;
        font-weight: 500;
    }
}
@media only screen and (max-width:899px){
    .navbar-bottom-pg2{
        .navbar-bottom-part{
            margin: 10px 0;
            width: 100%;
        }
    }
    
}
@media only screen and (min-width:899px){
    .navbar-bottom-pg2{
        height: 60px;
    }
}
.sidebar{
    border: 1px solid #1F2734;
    background-color: white;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    overflow-y: auto;
    height: 0;
    visibility: hidden;
    transition: 0.7s ease-in-out;
    z-index: 1000;
    padding: 0;
    .menu{
        width: 100%;
        .item{
            a{
                color: #273142;
                text-decoration: none;
                display: block;
                padding: 5px 30px;
                line-height: 60px;
                &:hover{
                    background-color: #273142;
                    color: #95A1B5;
                    transition: 0.3s ease;
                }
                .dropdown{
                    position: absolute;
                    right: 0;
                    margin: 20px;
                    transition: 0.3s ease;

                }
            }
            .sub-menu{
                display: none;
                a{
                    padding-left: 80px;

                }
            }
        }
    }
    
}
.sidebar.active{
    left: 0;
}
.rotate{
    transform: rotate(90deg);

}
