.footer-content{
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    h5{
        font-size: 13px;
        color: #808080;
    }
}