@import "./header";
@import "./footer";
body{
    background-color: #f5f5f5;
}
*{
    font-family: 'Source Sans Pro', sans-serif;
}
h2{
    font-weight: 600;
}
.dropdown-icon{
    margin-left: 2px;
    margin-right: 0px !important;
}
.custom-container {
width: 75%;
padding: 0 12px;
margin-right: auto;
margin-left: auto;
}